﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="HomePage.aspx.cs" Inherits="WebForm.HomePage" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <table>

            <tr>
                <td> 
                    <asp:Button ID="btnCustomer" runat="server" Text="Customer Registration" />
                </td>
            </tr>                    

        </table>
    
    
    </div>
    </form>
</body>
</html>
