﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="HomePage.aspx.cs" Async="true" Inherits="Sol_Asp.net.HomePage" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>

       <table>

            <tr>
                <td> 
                    <asp:Button ID="btnCustomer" runat="server" Text="Customer Registration" OnClick="btnCustomer_Click" BackColor="Pink"/>
                </td>
            </tr>

            <tr>
                <td> 
                    <asp:Button ID="Button1" runat="server" Text="Employee Registration" OnClick="Button1_Click" BackColor="Orange" />
                </td>
            </tr>            

        </table>
    
    
    </div>
    </form>
</body>
</html>
